<div class="flex-container">
  <div class="journal-entry flex-content">
    <div class="journal-heading">
      <h1 class="journal-title">
        <%= link_to current_journal.title, scene_path(:current_journal) %>
      </h1>

      <p class="date">
        <%= @entry.created_at.strftime('%B %d, %Y') %>
      </p>
    </div>

    <ul class="responses">
      <% @responses.each do |response| %>
        <li class="response-item">
          <%= render_prop :response, response: response %>
        </li>
      <% end %>
    </ul>

    <!-- <%= render_prop 'actions_bar' %> -->
  </div>
</div>
