<div class="flex-container">
  <div class="journal-entry flex-content">
    <h1 class="journal-title">
      <%= link_to current_journal.title, scene_path(:current_journal) %>
    </h1>

    <p class="date">
      <%= @entry.created_at.strftime('%B %d, %Y') %>
    </p>

    <% @responses.each do |response| %>
      <%= render_prop 'response', response: response %>
    <% end %>

    <%= render_prop 'actions_bar' %>
  </div>
</div>
