<div class="actions fixed-actions">
  <%= link_to scene_path(:current_journal),
      class: "icon-button dark" do %>
    <div class="icon-button--image">
      <img src="<%= asset_path('home') %>" />
    </div>
  <% end %>
</div>
