<div class="response">
  <h2 class="h1-like response-question">
    <%= editable_text_for(response, :question, placeholder: "Enter question...") %>
  </h2>
  <p class="response-body">
    <%= editable_text_for(response, :body, placeholder: "Enter question response...") %>
  </p>
</div>
