<div class="card-canvas history-card-canvas" data-card-canvas="history">
  <div class="card history-card">
    <p class="card-title">
      <%= dynamic_text(@journal, :title, placeholder: "Untitled") %>
    </p>
    <p class="card-subtitle">
      History
    </p>

    <ul class="edit-questions">
      <li>Yesterday</li>
      <li>January 5</li>
      <li>January 1</li>
      <li>December 19, 2018</li>
    </ul>
  </div>

  <p class="close">
    Close
  </p>
</div>
