<div class="card-canvas questions-card-canvas" data-card-canvas="questions">
  <div class="card questions-card">
    <div class="card-content">
      <p class="card-title">
        <%= dynamic_text_for(@journal, :title, placeholder: "Untitled") %>
      </p>
      <p class="card-subtitle">
        Questions
      </p>

      <ol class="edit-questions">
        <% @questions.each do |question| %>
          <%= render partial: 'edit_question_item',
              locals: { question: question } %>
        <% end %>
      </ol>
    </div>
    <div class="card-actions">
      <div class="add-question">
        <%= render partial: 'new_question',
            locals: { question: @new_question, journal_id: @journal.id } %>
      </div>
    </div>
  </div>

  <p class="close">
    Close
  </p>
</div>
