<h1> Your Journals </h1>

<% @journals.each do |journal| %>
  <%= link_to scenes_journal_path(journal) do %>
    <%= journal.title %> -
    <%= journal.caption %>
  <% end %>
<% end %>

<%= render partial: 'new_journal',
    locals: { journal: @new_journal } %>
