<li class='edit-question-item'>
  <p class="list-item-content">
    <%= link_to action_path(:delete_question, question), method: :post, class: "delete-question-button", remote: true do %>
      <%= image_tag("delete.svg") %>
    <% end %>
    <%= editable_text_for(question, :body, placeholder: "Enter question...") %>
  </p>
</li>
