<div class="card-content">
  <p class="card-title">
    Settings
  </p>
  <p class="card-subtitle">
    Update Account
  </p>
  <%= render_card_form :update_account %>
</div>


<div class="card-actions">
  <ul class="card-links">
    <li>
      <%= change_card_screen_link "Back", :settings_options %>
    </li>
  </ul>
</div>
