<div class="card-content">
  <p class="card-title">
    Change Password
  </p>
  <%= render_prop(:form, :update_password_form) %>
</div>

<div class="card-actions">
  <ul class="card-links">
    <li>
      <%= link_to "Back", "#", data: { action: "changeCardScreen", "screen-tag": "settings-options" }  %>
    </li>
  </ul>
</div>
