<div id="settings-card" class="card form-card tabbed-card settings-card">

  <div class="tab active update-account-tab">
    <%= render_prop :tab, :update_account_tab %>
  </div>

  <div class="tab update-password-tab">
    <%= render_prop :tab, :update_password_tab %>
  </div>

  <div class="tab delete-account-tab">
    <%= render_prop :tab, :delete_account_tab %>
  </div>
</div>
