.active-journal {
  width: 700px;
  max-width: 90%;
}

.active-journal .response-question {
  margin-top: 50px;
  font-weight: 800;
  position: relative;
  padding-bottom: 60px;
  margin-bottom: 60px;
}

.active-journal .response-question:after {
  content: "";
  left: 150px;
  right: 150px;
  bottom: 0;
  border-top: 2px solid #707070;
  height: 0;
  position: absolute;
}

.active-journal .response-body {
  text-align: left;
  line-height: 1.5;
  font-size: 2.2em;
}

.active-journal .response-body .editable-text {
  outline: none;
}
