.journal-entry {
  width: 700px;
  max-width: 90%;
  text-align: left;
}

.journal-entry .journal-title {
  font-weight: 800;
  font-size: 2.2em;
}

.journal-entry .journal-title a:hover {
  text-decoration: underline
}

.journal-entry .date {
  font-weight: 400;
  font-size: 2.2em;
  margin-bottom: 40px;
}

.journal-entry .response {
  margin-bottom: 50px;
}

.journal-entry .response-question {
  font-weight: 800;
  position: relative;
}

.journal-entry .response-body {
  text-align: left;
  line-height: 1.5;
  font-size: 2.2em;
}
