// Edit Questions List

.edit-questions {
  font-size: 1.2em;
  display: inline-block;
  text-align: left;
  list-style-type: decimal;
  list-style-position: outside;
  width: 100%;
  top: 0;
  margin-top: 50px;
  vertical-align: text-top;
  overflow: scroll;
  padding-bottom: 50px;
  box-sizing: border-box;
  padding-right: 1px;
  padding-top: 1px;
}

// Edit Questions List Item

.edit-question-item {
  position: relative;
  font-size: 1.4em;
  font-weight: bold;
  margin-bottom: 30px;
  vertical-align: bottom !important;
}

.edit-question-item > * {
  font-weight: 400;
}

.edit-question-item .list-item-content {
  display: inline-block;
  vertical-align: top;
}

// Delete Question Button

.edit-question-item.active {
  list-style-type: none;
}

.edit-question-item .delete-question-button {
  width: 25px;
  height: 25px;
  position: absolute;
  left: -40px;
  display: none;
}

.edit-question-item.active .delete-question-button {
  display: block;
}

// Add Question Form

.add-question input[type="text"],
.add-question input[type="submit"] {
  font-size: 1.5em;
  display: inline-block;
  height: 50px;
  box-sizing: border-box;
  vertical-align: middle;
}

.add-question input[type="text"] {
  border: 1px solid black;
  color: black;
  line-height: 1.5em;
  width: 75%;
  padding-left: 10px;
  margin-right: 3px;
}

.add-question input[type="text"]::placeholder {
  color: gray;
  font-style: italic;
  font-weight: 100;
}

.add-question input[type="submit"] {
  background-color: var(--background-color);
  width: 80px;
  color: white;
  font-weight: 600;
  margin-left: 3px;
}
