// .editable-text-container {
//   display: inline-block;
// }
//
.editable-text {
  // cursor: pointer;
  // display: block;
  // white-space: pre-line;
  // position: relative;
  // min-width: 20px;
  // padding-bottom: 5px;
  // box-sizing: border-box;
}

.editable-text:hover {
  opacity: 0.6;
}

.editable-text:focus {
  opacity: 1;
}

.editable-text:focus {
  background-color: white;
  color: black;
  outline: none;
  border: 1px solid black;
  padding: 5px 10px;
  border-radius: 5px;
}

.editable-text:focus[placeholder]::before {
  color: gray;
}

.active-journal .response-body .editable-text:focus[placeholder]::before {
  color: lightgray;
}
//
// .editable-text:focus {
//   cursor: text;
//   outline: 1px solid gray;
// }
//
// .editable-text[placeholder]:empty::before {
//   content: attr(placeholder);
//   color: #878787;
//   font-style: italic;
// }
//
// .editable-text[placeholder]:empty:focus::before {
//   content: "";
// }

// .editable-text:before {
//   content: "";
//   background-image: url(asset_path("pencil.svg"));
//   background-size: 20px;
//   vertical-align: -50%;
//   width: 20px;
//   height: 20px;
//   font-size: 0.2em;
//   z-index: 2;
//   top: 25%;
//   position: absolute;
//   left: -30px;
//   // line-height: 100%;
// }
//
// .editable-text:after:hover {
//   color: red;
// }


.edit-question-item .editable-text:focus,
.journal-entry .editable-text:focus {
  background-color: lightgray;
}

.active-journal .response-body .editable-text:focus {
  background-color: inherit;
  color: inherit;
  border: none;
  padding: 0px;
}
