// Tabbed Card

.tabbed-card .tab {
  display: none;
}

.tabbed-card .tab.active {
  display: block;
}

.tabbed-card {
  position: relative;
}

.tabbed-card .tab .card-action {
  position: absolute;
  bottom: 50px;
  width: 100%;
  left: 0;
  font-size: 1.2em;
  font-weight: 400;
}

.tabbed-card .tab .card-action a {
  color: rgb(5, 168, 255);
  font-weight: 600;
  margin-left: 5px;
}

.tabbed-card .tab .card-action a:hover {
  text-decoration: underline;
}

// Auth Card

.auth-card {
  margin: 50px auto 0;
  max-width: 100%;
  width: 550px;
  height: 800px;
  background-color: white;
  border-radius: 10px;
  color: black;
  text-align: center;
  padding: 80px 20px;
  box-sizing: border-box;
}




.auth-card h1 {
  font-size: 2.5em;
  margin-bottom: 80px;
}

.auth-card form {
  width: 100%;
}

.auth-card {
  font-family: "Avenir Next";
}

.auth-card input[type=email], .auth-card input[type=password] {
  font-size: 1.5em;
  border: none;
  padding: 5px 0;
  border-bottom: 1px solid #B1AEAE;
  font-weight: 400;
  margin-bottom: 40px;
  width: 80%;
  box-sizing: border-box;

  &::placeholder {
    color: #B1AEAE;
  }
}

.auth-card input[type=submit] {
  background-color: #491DFF;
  color: white;
  border: none;
  display: block;
  margin: 60px auto 0;
  width: 250px;
  padding: 15px 0;
  font-size: 1.3em;
  text-transform: uppercase;
  border-radius: 50px;
  // width: 200px;
}

.auth-card input[type=submit]:hover {
  cursor: pointer;
}


.auth-card input {

}
