// Card Canvas Area

.card-canvas {
  display: none;
  min-height: 500px;
}

.card-canvas:hover {
  cursor: pointer;
}

.card-canvas .card:hover {
  cursor: initial;
}

.card-canvas .close {
  color: #FF4545;
  bottom: 5vh;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 1.5em;
  font-weight: 600;
  cursor: pointer;
}

.card-canvas .close:hover, .card-canvas .close.jqhover {
  text-decoration: underline;
}

.card-canvas.active {
  display: block;
}

.card-canvas {
  position: fixed;
  left: 0;
  right: 0;
  height: 100vh;
  z-index: 5;
}

// Card

.card {
  position: absolute;
  background-color: white;
  color: black;
  width: 620px;
  max-width: 100%;
  top: 5vh;
  bottom: 10vh;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 15px;
  text-align: center;
  padding: 20px 50px;
  box-sizing: border-box;
  overflow: hidden;
}

.card-content {
  max-height: 100%;
  overflow: scroll;

  -ms-overflow-style: none;  // IE 10+
  overflow: -moz-scrollbars-none;  // Firefox
}

.card-content::-webkit-scrollbar {
  display: none;  // Safari and Chrome
}

.card-title {
  margin-top: 20px;
  font-size: 2em;
  font-weight: 800;
  margin-bottom: 5px;
}

.card-subtitle {
  font-size: 2em;
}

.card-actions {
  position: absolute;
  padding: 25px 40px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: inherit;
}
