<div class="auth-container">
  <div class="auth-card tabbed-card">
    <div class="tab active login-tab">
      <%= render_prop :tab, :login_tab %>
    </div>

    <div class="tab signup-tab">
      <%= render_prop :tab, :signup_tab %>
    </div>
  </div>
</div>
